*{
  padding: 0;
  /*margin: 0;*/
  border: 0;
}

input, button {
  font-family: inherit;
}

body {
  font-family: 'Poppins', 'Roboto', 'DM Serif Display', 'PT Serif' serif, sans-serif;
  margin: 0 auto;
  min-width: 320px; 
  max-width: 1920px;
}


/*1-я секция*/

.home-page {
  background-image: url(img/background.png);
  background-size: cover;
  padding: 27px 0 132px 0;
}

.container {
  box-sizing: border-box;
  max-width: 70.5%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 181px;
}

.logo {
  display: flex;
  width: 25%;
}

.logo-logo {
  padding-right: 26px;
  width: 25.6%;
  height: 25.6%;
}

.name {
  align-self: center;
  font: normal normal 26px 'Roboto';
  color: #505050;
}

nav a {
  text-decoration: none;
  color: #717784;
  font: normal 500 22px 'Poppins';
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66.3%;
}

.menu a {
  transition: background .2s linear;
}

.menu a:hover {
  background: #9B9BCA;
  padding: 18px 22px;
  border-radius: 13px;
}

.menu__contact {
  background: #9B9BCA;
  color: #fff;
  font: normal 600 22px 'Poppins';
  padding: 20px 80px;
  border-radius: 13px;
  margin: 6px 20px 0 0;
  cursor: pointer;
  outline: none;
}

.title {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.title__name {
  font: normal normal 66px/100% 'DM Serif Display';
  letter-spacing: .5px;
  padding: 0 230px 0 10px;
  color: #696A86;
  margin-bottom: 40px;
}

.title__text {
  font: normal normal 21px/31px 'Poppins';
  letter-spacing: 0.0156em;
  color: #696A86;
  margin-top: 0;
  padding: 0 0px 0 9px;
  margin-bottom: 63px;
}

.started {
  background: #9B9BCA;
  color: #fff;
  font: normal 600 22px 'Poppins';
  padding: 20px 77px;
  margin-left: 7px;
  border-radius: 13px;
  cursor: pointer;
  outline: none;

}


/*2-я секция*/

.wrapper {
  padding-top: 85px;
}

.content {
  max-width: 72%;
  margin: 0 auto;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12.2%;
}

.provide {
  font: normal 500 30px 'Poppins';
  color: #626780;
  margin-bottom: 21px;
}

.traffic {
  font: normal normal 22px 'Poppins';
  color: #626780;
  margin: 0;
  text-align: center;
}

.carrying {
  font: normal normal 22px 'Poppins';
  color: #626780;
  margin: 0;
}

.prerequisite {
  font: normal normal 22px 'Poppins';
  color: #626780;
  margin: 0;
}

.business {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16%;
}

.square {
  color: #626780;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 300px;
  text-align: center;
}

.square img {
  width: 25.5%;
  margin-top: 1%;
}

.square h3 {
  font: normal 500 26px/40px 'Poppins'; 
}

.square span {
  font: normal normal 19px/26px 'Poppins';
}

.square2 {
  color: #626780;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 300px;
  text-align: center;
  border: 1px solid #9D9D9D;
  border-radius: 4px;
}

/*.square2:after {
  border-bottom: 5px solid #C4C4C4;
}*/

.design {
  padding-left: 5%;
}

.web-design {
  padding-left: 3%;
}

.doctor {
  width: 25.5%;
  margin-top: 1%;
}

.health-study {
  font: normal 500 26px/40px 'Poppins';
}

.health {
  font: normal normal 19px/26px 'Poppins';
}

.packaging {
  padding-right: 2%;
}

/*.packag {
 
}*/

.blog {
  padding-right: 9%;
}

.writting {
  padding-right: 7%;
}

/*.write {
  
}*/

.comercial {
  display: grid;
  grid-template-columns: 46.5% 52%;
  grid-gap: 1.3%;
  grid-template-rows: 99%;
  padding-bottom: 14.5%;
}

.people {
  color: #626780;
  display: flex;
  flex-direction: column;
  /*width: 660px;
  height: 220px;*/
  padding-top: 17.5%;
}

.people-people {
  font: normal 500 30px/40px 'Poppins';
  letter-spacing: 0.025em;
  padding-left: 4%;
  margin-bottom: 3.5%;
}

.company {
  font: normal normal 22px/35px 'Poppins';
  letter-spacing: 0.002em;
  padding-left: 4%;
}

.round {
  display: grid;
  grid-template-columns: 0.78fr 0.9fr 1.2fr 1.1fr 1fr;
  grid-template-rows: 1.6fr 1.53fr 1.5fr 1.5fr;
  position: relative;
}

.foto {
  grid-column: 3/4;
  width: 68%;
  padding: 4% 0 0 5%;
  z-index: 1;
}

.vector1 {
  position: absolute;
  left: 43.5%;
  top: 10%;
  /*width: 9%;*/
}

.pic {
  grid-column: 5/6;
  grid-row: 1/3;
  width: 82.5%;
  padding: 26% 0 0 5%;
  z-index: 1;
}

.vector2 {
  position: absolute;
  left: 12.5%;
  top: 11.5%;
  width: 79%;
}

.picture {
  grid-column: 2/4;
  width: 38%;
  padding: 3% 0 0 18%;
  z-index: 1;
}

.support {
  grid-column: 4/5;
  grid-row: 2/4;
  width: 85%;
  padding: 17% 0 0 5%;
  z-index: 1;
}

.vector3 {
  position: absolute;
  left: 70%;
  top: 47.3%;
}

.pic-pic {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 98%;
  padding: 2% 0 0 4%;
  z-index: 1;
}

.foto-foto {
  grid-column: 3/4;
  grid-row: 3/5;
  width: 69%;
  padding: 49% 0 0 27%;
  z-index: 1;
}

.foto-pic {
  grid-column: 4/6;
  grid-row: 3/5;
  width: 38%;
  padding: 35% 0 0 45%;
  z-index: 1;
}

.first {
  font: normal 500 56px/140% 'PT Serif';
  padding: 0 0 0 1.5%;
  display: flex;
  width: 45%;
  letter-spacing: 1px;
}


